.imprimatur {
    display: inline-block;
}

.imprimatur li {
    display: block;
}

.imprimatur ul,
.imprimatur ol,
.imprimatur table {
    padding: 0 0 0 1em;
    margin: 0;
}

.imprimatur .coll.hover {
    background: #ffff00;
}

.imprimatur .opening,
.imprimatur .closing {
    font-family: monospace;
}
