.imprimatur li {
    display: block;
}

.imprimatur ul,
.imprimatur ol,
.imprimatur table {
    padding: 0 0 0 1em;
    margin: 0;
}

.imprimatur .opening,
.imprimatur .closing {
    font-family: monospace;
}

.imprimatur .toggle,
.imprimatur .inner {
    vertical-align: top;
    display: inline-block;
}

.imprimatur .toggle .open:before {
    content: '\25BE';
}

.imprimatur .toggle .closed:before {
    content: '\25B8';
}

.imprimatur .toggle {
    cursor: pointer;
    margin-right: .3em;
}
